body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.letter-page {
  width: 8.5in;
  height: 11in;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  
}

.daily-page {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'h h h h h h h h h h'
    'l l l r r r r r r r'
    'f f f f f f f f f f';
}

.daily-header {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  border: 1px solid black;
}

.daily-left {
  grid-area: l;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.daily-right {
  grid-area: r;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
}

.daily-footer {
  grid-area: f;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}